#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.dropper {
  height: 30vh;
  border: 2px dashed black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover {
    background-color: #eee;
  }

  input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
  }
}

.image-container {
  column-count: 3;
  column-gap: 0;

  img {
    display: inline-block;
    max-width: 100%;
    padding: 5px;
  }
}